@model OdeToFood.Models.RestaurantReview

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<div>

Restaurant: @Model.Name
Rating: @Model.Rating

</div>
